<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get to Work</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Get to Work</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if logged_in}}
        <li><a href="/">Home</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li><a id="logout">Logout</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  {{{body}}}

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>