<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get to Work</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="orange lighten-5">
  <header>
    <nav class="pink lighten-2">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Get To Work</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if logged_in}}
          <li><a href="/">Home</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/about">About</a></li>
          <li><a id="logout">Logout</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer class="page-footer pink lighten-2" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-s6">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="/about">About</a></li>
            <li><a class="white-text"
                href="https://github.com/zugzw4ng/project-management-application">Github Repository</a></li>
            <li><a class="white-text"
                href={{!-- "*insert a link video to a project demo for this website*" --}}>Project Demo</a></li>
            {{#if logged_in}}
            <li><i class="material-icons" id="logout-footer">logout</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>