<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Manager</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
  <div>
    <header>
      <h1>
        <nav>
          {{if logged_in}}
          <a href="/profile">Profile</a>
          <button>Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
      </h1>
    </header>
  </div>
</body>
</html>