<div class="container">
  <div class="row">
    <h3 class="center-align">About the Team</h3>
  </div>

  <div class="row">
    <div class="center-align">
      <p>
        Our team that created this application did so in less than a week! The
        motivation to build this site was to have a platform to manage projects,
        working alone or with a team, with respect to a project deadline. We
        wanted to make a full stack application that could track the individual
        tasks associated with a larger project and have tha ability to check off
        tasks as they were completed. Although this has been a challenge to
        accomplish in such a short time frame, we have made a fantastic app that
        can help improve productivity in the users everyday life.
      </p>
    </div>
  </div>
</div>