body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

  /* .form-group{
    display: flex;
    align-items: center;
    font-size: large;
    background-color: aliceblue;
    width: 90%;

} */

.page-footer{
  max-height: 160px;
  background-color: blue;
}

.grey-text-text-lighten-3{
  font-style: italic;
  color: white;
}

.grey-text-text-lighten-4{
  font-style: italic;
}

.nav-wrapper{
  background-color: blue;
}

.brand-logo{  
  text-indent: 50px;
  font-family:'Courier New', Courier, monospace
}

.header1{
  text-indent: 50px;
  font-size: 40px;
  opacity: 60%;
}

.header2{
  text-align: center;
}

.project-list{
  text-align: center;
}

