body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }


  /* .form-group{
    display: flex;
    align-items: center;
    font-size: large;
    background-color: aliceblue;
    width: 90%;

} */
